.pc_backbutton{
    @include backbutton;
    position: absolute;
    top: 72px;
    left: 8px;
}

.pc_channelmake{
    position: relative;
    width: 836px;
    margin:0 auto;

    h3{
        padding: 24px 0 40px 0 ;
        text-align: center;
        font-size: 2.4rem;
    }

    &-input{
        display: flex;
        justify-content: center;
        margin: 0 auto 40px;
        img{
            width: 120px;
            height: 120px;
            border-radius: 24px;
            cursor: pointer;
        }
    }

    &-text{
        margin: 0 64px;
        display: inline-block;
        .pc_channelmake-subtext{
            padding:0 0 24px 0;
            p{
                font-size: 1.8rem;
                margin-bottom: 4px;

            }
            input{
                @include input_text;
            }
        }
    }

    &-release{
        p{
            font-size: 1.8rem;
            margin-bottom: 4px;
        }
        .pc_channelmake-switch{
            text-align: center;
            .switchlabel{
                width: 56px;
                position: relative;
                display: inline-block;
            }
            
            .switchcontent{
                display: block;
                cursor: pointer;
                position: relative;
                border-radius: 30px;
                height: 32px;
                overflow: hidden;
            }
    
            .switchcontent:before{
                content:"";
                display: block;
                position: absolute;
                width: calc(100% - 3px);
                height: calc(100% - 3px);
                top:0;
                left:0;
                border:1.5px solid #E5E5EA;
                border-radius: 30px;
                background-color: #fff;
            }
            .switchcontent:after{
                content:"";
                display: block;
                position: absolute;
                background-color: transparent;
                width: 0;
                height: 0;
                top:50%;
                left:50%;
                border-radius: 30px;
                transition:all .5s;
            }
            .switchinput{
                display:none;
            }
            .switchcircle{
                display: block;
                top: 2px;
                left:2px;
                position: absolute;
                box-shadow: 0 2px 6px #999;
                width: 27px;
                height: 27px;
                border-radius: 20px;
                background-color: #fff;
                transition: all .5s;
            }
            .switchinput:checked ~ .switchcircle{
                left:21px;
            }
            .switchinput:checked ~ .switchcontent:after{
                background-color: #4BD964;
                top:0;
                left:0;
                width: 100%;
                height:100%;
            }
        }
    }
    &-allmen{
        .pc_channelmake-allmensub{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
        p{
            font-size: 1.8rem;
            .fa-angle-left{
                flex: 1;
                @include icon-left;
            }
            .fa-angle-right{
                flex:1;
                @include icon-right;
            }
        }
        .pc_channelmake-menitem{
            width: 772px;
            text-align: center;
            img{
                border-radius: 50%;
            }
        }
    }

    &-choicemen{
        .pc_channelmake-choicemensub{
            display: flex;
            align-items: center;
        }
        p{
            font-size: 1.8rem;
            .fa-angle-left{
                flex:1;
                @include icon-left;
            }
            .fa-angle-right{
                flex:1;
                @include icon-right;
            }
        }
        .pc_channelmake-menitem{
            width: 772px;
            text-align: center;
            img{
                border-radius: 50%;
            }
        }
        
    }            
    


    /*チャンネル作成ボタン*/
    &-submit{
        margin:40px auto 0;
        @include submitbutton;
    }
}